{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <header>
      <div class="left">
        <img src="{% static 'images/logo.jpg' %}" alt="Tonic or toxic">
      </div>
      <div class="right">
        {% if user.is_authenticated %}
          <a href="{% url 'food:logout' %}" class="button-link">Done?<br> It's time to log out!</a>
        {% else %}
          <a href="{% url 'food:signup' %}" class="button-link">First visit?<br> Let's get you signed up!</a>
          <a href="{% url 'food:login' %}" class="button-link">Missed us?<br> Let's get you logged in!</a>
        {% endif %}
      </div>
    </header>
        {% block main %}
        {% endblock main %}
    <footer>
      <div class="left">
        © 2024 by Const. All rights reserved
      </div>
      <div class="right">
        {% if user.is_authenticated %}
          Contact:   frolov.kostiantyn@gmail.com
        {% else %}
          Version 1.5
        {% endif %}
      </div>
    </footer>
  </body>
</html>