{% extends 'base.html' %}

{% block title %}
Search additives by photo
{% endblock title %}

{% block main %}

  Selected language : {{ language }}<br>
    lang rec : {{ lang_rec }}<br>
    x_dpi : {{ x_dpi }}<br>
    y_dpi : {{ y_dpi }}<br>
    Recognized text : <br>{{ recognized_text }}<br>
    Recognized text from ingredients : <br>{{ text_from_ingredients }}<br>
    Recognized text prepared :<br> {{ text_prepared }}<br>
    Recognized text without newline :<br> {{ text_without_newline }}
    Recognized text only additives :<br> {{ text_only_additives }}<br>
    List of additives:<br>{{ list_of_additives }}<br>


    <div class="button-container centered">
      <a href="{% url 'food:dashboard' %}" class="button-link">Back to the dashboard</a>
    </div>

{% endblock main %}