{% extends "base.html" %}

{% block title %}
  Home page
{% endblock title %}

{% block main %}
  <h3>Do you prioritize the well-being of yourself and those you love?
      If so, this website offers valuable assistance!
  </h3>
    <p class="long-text">We explore the world of food additives. Food additives serve diverse functions, from preserving
            freshness to enhancing taste and texture. They come in various forms, ranging from single
            chemicals to complex mixtures, and can be of natural or synthetic origin. While many additives
            are harmless, some raise concerns about their potential health effects.
    </p>
    <p class="long-text">Our focus extends to the core of everyday products. From the fizz of soft drinks to the sweetness
            of packaged sweeteners, and from the indulgence of gelatin desserts to the convenience of frozen
            meals, additives permeate our food supply. Consider the subtle presence of additives in items like
            yogurt, candy, and chewing gum, where they play roles in texture and flavor enhancement. Even
            seemingly innocuous products like jams and fruit spreads may contain additives to prolong shelf life.
            Delve deeper into your pantry, and you'll find additives lurking in staples such as flour, bread, and
            condiments. Even beloved treats like chocolate and chips are not immune, often containing additives to
            achieve desired consistency or flavor. But it's not just about what's in our pantry. Additives also
            infiltrate restaurant fare, from pre-cooked meats to fried delicacies. Even seemingly healthy options
            like salad dressings and coffee creamers may contain additives that raise eyebrows.
    </p>
    <p class="long-text">Yet, amid these concerns, there's room for informed decision-making. By understanding the role of
            additives and their potential impacts, we empower ourselves to make choices that prioritize health
            and wellness. Join us as we navigate this complex landscape, shedding light on the additives that
            shape our food and empowering you to make choices that align with your values and well-being!
    </p>
{% endblock main %}
