{% extends "base.html" %}

{% block title %}
Search additive
{% endblock title %}

{% block main %}
  {% if form.additive_name.errors %}
    <div class="message error">
      {% for error in form.additive_name.errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    <div class="form-control">
      {{ form.additive_name.label_tag }}
      {{ form.additive_name }}
      <div class="help-text">Please enter or paste
        the name of the food additive you wish to check<br>
        If a name consists of two or more words, use only one space between them
      </div>
    </div>
    <div class="form-control select">
        {{ form.language.label_tag }}
        {{ form.language }}
        <div class="help-text">Please choose the language
            for the name of the food additive</div>
    </div>
    <div class="button-container centered">
        <button class="button-link" type="submit">Search</button>
    </div>
  </form>
{% endblock main %}