{% extends 'base.html' %}
{% load static %}

{% block title %}
Search additives by photo
{% endblock title %}

{% block main %}

  <h1>Step 2 - Upload a photo</h1>
    <p>The quality of your image will have a crucial impact on the result!
        When capturing a photo, follow the tips provided below.</p>
    <ul>
        <li>Make sure to capture the complete list of food ingredients</li>
        <li>For optimal horizontal text capture, utilize grid lines</li>
        <li>Follow device suggestions</li>
        <li>Refrain from using flash</li>
        <li>Trim the image to remove any unnecessary elements</li>
        <li>If your device allows, aim for a photo resolution of approximately 200 pixels per inch (ppi)</li>
    </ul>
    <p>For reference, please see the example provided below.</p>
    {% if language == 'en' %}
    <div class="example">
      <img src="{% static 'images/example_en.jpg' %}" alt="Example of photo">
    </div>
    {% else %}
    <div class="example">
      <img src="{% static 'images/example_pl.jpg' %}" alt="Example of photo">
    </div>
    {% endif %}
    <p>After capturing the photo, proceed to upload it.</p>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
        {{ wizard.management_form }}
    <div class="form-control select">
        {{ wizard.form.image.label_tag }}
        {{ wizard.form.image }}
    </div>
    <div class="button-container centered">
        <button class='button-link' type="submit">Next</button>
    </div>
    </form>


{% endblock main %}