{% extends 'base.html' %}

{% block title %}
Search additive by photo
{% endblock title %}

{% block main %}
    Path: {{ image_path }}
  <form action="" method="post">
    {% csrf_token %}
    <div class="form-control select">
        {{ form.language.label_tag }}
        {{ form.language }}
        <div class="help-text">Please choose the language
            for the name of the food additive</div>
    </div>
    <div class="button-container">
        <button class='button-link' type="submit">Search</button>
    </div>
    </form>


{% endblock main %}